@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1619963098787-23252986767e?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDd8aVVJc25WdGpCMFl8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60https://images.unsplash.com/photo-1629448992927-a6d1f5c47857?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQ2fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60https://images.unsplash.com/photo-1627719736178-dfadf8f370d9?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM3fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60https://images.unsplash.com/photo-1626288937220-3b1a0cdbbfe7?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM0fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60s://images.unsplash.com/photo-1575351881847-b3bf188d9d0a?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MnxibzhqUUtUYUUwWXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60://images.unsplash.com/photo-1619863182792-ff9b20a5f886?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60://imahttps://images.unsplash.com/photo-1619863182792-ff9b20a5f886?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60ges.unsplash.com/photo-1629659740606-66c36a82cc24?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIyfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60https://images.unsplash.com/photo-1595088402198-24d44e48d57c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1554&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.glass-view {
    margin: 50px;
    padding: 30px;
    background-color: #ffffff30;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 90%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;   
}

.nav a:hover {
    text-decoration: underline;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 20px;
}

.content h2 {
    font-size: 2rem;
}

.content p {
    max-width: 500px;
}

.content button {
    padding: 10px 30px;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    background-color: #6c63ff;
    color: white;
    margin-top: 30px;
}

.img-container {
    max-width: 500px;
}

.img-container img {
    width: 100%;
}